.List {
  min-width: 10px;
  max-width: 300px;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;

  &-Header {
    flex: 0 0 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
  }

  &-Body {
    flex: 1;

    margin: 0 1rem;

    overflow-y: scroll;
  }

  &-Footer {
    flex: 0 0 3rem;

    display: flex;
    justify-content: center;
  }

  &-DismissAll {
    align-self: center;

    font-size: small;
    color: orange;
    cursor: pointer;
  }
}

.List--Mobile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
