.List {
  flex: 0 0 250px;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;

  &-Header {
    flex: 0 0 3rem;
  }

  &-Body {
    flex: 1;

    margin: 0 1rem;

    overflow-y: scroll;
  }

  &-Footer {
    flex: 0 0 3rem;
  }
}
